{% extends "index.html" %}

{% block content %}
<form action = "" method = "post"  align="center">{% csrf_token %}

	<fieldset>
		<legend>Driver Registration</legend>
		{% if form.errors %}<div class="alert alert-error">Please correct the following fields</div>{% endif %}

		<div class="control-group">		
			<div class="control-group warning">{% if form.first_name.errors %}<span class="help-inline">{{ form.first_name.errors }}</span>{% endif %}</div>
			<Label class="control-label" for="first_name">First Name:</label>
			{{ form.first_name }}
		</div>

		<div class="control-group">		
			<div class="control-group warning">{% if form.last_name.errors %}<span class="help-inline">{{ form.last_name.errors }}</span>{% endif %}</div>
			<Label class="control-label" for="lastname">Last Name:</label>
			{{ form.last_name }}
		</div>

		<div class="control-group ">
			<div class="control-group warning">{% if form.username.errors %}<span class="help-inline">{{ form.username.errors }}</span>{% endif %}</div>
			<Label class="control-label" for="username">Username:</label>
			 {{ form.username }} 
		</div>	

		<div class="control-group">
			<div class="control-group warning">{% if form.email.errors %}<span class="help-inline">{{ form.email.errors }}</span>{% endif %}</div>
			<Label class="control-label" for="email">Email:</label>
			{{ form.email }}
		</div>

		<div class="control-group">
			<div class="control-group warning">{% if form.password.errors %}<span class="help-inline">{{ form.password.errors }}</span>{% endif %}</div>
			<Label class="control-label" for="password">Password:</label>
			{{ form.password }}
		</div>
		
		<div class="control-group">		
			<div class="control-group warning">{% if form.vpassword.errors %}<span class="help-inline">{{ form.vpassword.errors }}</span>{% endif %}</div>
			<Label class="control-label" for="vpassword">Verify Password:</label>
			{{ form.vpassword }}
		</div>
		<div class="control-group">		
			<div class="control-group warning">{% if form.licenseKey.errors %}<span class="help-inline">{{ form.licenseKey.errors }}</span>{% endif %}</div>
			<Label class="control-label" for="licenseKey">Assetto Corsa Lic</label>
			{{ form.licenseKey }}
		</div>
				<div class="controls">
					<input type="submit" alt="register" class="btn">
				</div>

	</fieldset>		
</form>

{% endblock %}
