{% extends "index.html" %}
{%  load static %}
{% block content %}



<div class="container">
	<div class="container">
			<table class="table table-striped table-bordered well">
				<tr class="info">
					<td>Name</td>
					<td>Team</td>
					<td>Controller</td>
					<td>Join date</td>
				</tr>
					{% for a in User %} 
				<tr >
					<td>{{ a.username }}</td>
					<td>{{ a.driver.team }}</td>
					<td>{{ a.driver.hardware }}</td>
					<td>{{ a.date_joined }}</td>
				</tr>
					{% endfor %}
					
				

			</table>
	</div>
</div>
{% endblock %}