{%  load static %}
<!DOCTYPE html>
 
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "css/bootstrap.css" %}" >
    <link rel="stylesheet" href="{% static "css/bootstrap-responsive.css" %}" >
    <link rel="stylesheet" href="{% static "css/font-awesome.min.css" %}">
    <link href="{% static "images/favicon.ico" %}" rel="shortcut icon">

    <style type="text/css">
       @font-face {
          font-family: 'FontAwesome';
          src: url(' {% static  "font/fontawesome-webfont.eot"%}")?v=3.1.1');
          src: url(' {% static  "font/fontawesome-webfont.eot"%}")?#iefix&v=3.1.1') format('embedded-opentype'),
          url(' {% static  "font/fontawesome-webfont.woff"%}') format('woff'),
          url('{% static  "font/fontawesome-webfont.ttf" %}') format('truetype');
          font-weight: normal;
          font-style: normal;
                }
    </style>

    <title>Assetto Corsa Rank</title>

</head>
 
<body class="body">

<script src="http://code.jquery.com/jquery-1.9.0.min.js"></script>
<script src="{% static "js/bootstrap.js" %}"></script>

        <div class="navbar navbar-fixed-top navbar-inverse">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-th-list"></span>
                    </a>
                    <a href={% url 'home' %} class="brand">AC Rank</a>
                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            <li class="active"><a href={% url 'home' %}>Home</a></li>
                            <li class="divider-vertical"></li>
                            <li ><a href={% url 'hotlaps' %} >HotLaps</a></li>
                            <li class="divider-vertical"></li>
                            <li ><a href={% url 'drivers' %} >Drivers</a></li>
                            <li class="divider-vertical"></li>
                        </ul>
                        <ul class="nav pull-right">
                            {% if user.is_authenticated %}
                            <li class="navbar-text">Welcome </li>
                            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#"> {{ user.username }} <i class="icon-sort-down"></i></a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            <li><a tabindex="-1" href={% url 'profile' %}>Profile</a></li>
                            <li><a tabindex="-1" href={% url 'myranking' %}>My Ranking</a></li>
                            <li class="divider"></li>
                            <li><a tabindex="-1" href={% url 'logout' %}>Logout </a></li>
                            </ul>                
                            {% else %}                          
                            <li><a href={% url 'register' %}>Register</a></li>
                            <li class="divider-vertical"></li>
                            <li><a href={% url 'login' %}>Login</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
{% block content %}
    <div class="row-fluid">
        <div class="span12">
  
            
                    <div class="hero-unit" style="background-image: url('/static/images/bg-blackish.png')">
                        <div class="row-fluid">
                            <div class="span6">
                                    
                                    <ul class="thumbnails">
                                      <li class="span3 offset3">
                                        <a href="#" class="thumbnail">
                                          <img src="/static/images/bg3.jpg" >
                                        </a>
                                      </li>
                                    </ul>
                                </div>
                                <div class="span6">
                                    <h1>Assetto Corsa Rank</h1>
                                    <p>Save your lap times instantly and compare with others!</p>
                                    <p><a href="#" class="btn btn-primary btn-large">Get started</a></p>
                                </div>
                                
                        </div>
                    </div>
            
        </div>
    </div>
        <div class="container">
            <div class="row-fluid">
                <div class="span8">
                    <p>SMS Prinzregent Luitpold was the fifth and final vessel of the Kaiser class of battleships of the Imperial German Navy. Prinzregent Luitpold's keel was laid in October 1910 at the Germaniawerft dockyard in Kiel. She was launched on 17 February 1912 and was commissioned into the navy on 19 August 1913. Prinzregent Luitpold was assigned to the III Battle Squadron of the High Seas Fleet for the majority of her career; in December 1916, she was transferred to the IV Battle Squadron. Along with her four sister ships, Kaiser, Friedrich der Grosse, Kaiserin, and König Albert, Prinzregent Luitpold participated in all of the major fleet operations of World War I, including the Battle of Jutland on 31 May – 1 June 1916. The ship was also involved in Operation Albion, an amphibious assault on the Russian-held islands in the Gulf of Riga, in late 1917. After Germany's defeat in the war and the signing of the Armistice in November 1918, Prinzregent Luitpold and most of the capital ships of the High Seas Fleet were interned by the Royal Navy in Scapa Flow. Prinzregent Luitpold was scuttled in 1919, raised in 1931 and subsequently broken up for scrap in 1933. (Full article...)</p>

                    <div class="row-fluid"  >
                        <ul class="thumbnails" >
                            <li class="span4" >
                                <div class="thumbnail" style="background-image: url('/static/images/bg-red.png')">
                                    <img src="/static/images/Ac099.png"  alt="">
                                    <h4>Step 1:</h4>
                                    <p>Get Assetto Corsa tech-preview 0.9.9</p>
                                    <a href="http://kunos.convergenze.it/setup_actp_099.exe" class="btn btn-primary">Download</a>
                                </div>
                            </li>
                        
                        
                            <li class="span4">
                                <div class="thumbnail" style="background-color:#78ba37">
                                    <img src="/static/images/AC_logo.png" alt="">
                                    <h4>Step 2:</h4>
                                    <p>Register your name</p><a href="#" class="btn">Register</a>
                                </div>
                            </li>
                        
                        
                            <li class="span4">
                                <div class="thumbnail" style="background-color:#dbd134">
                                    <img class="span15" src="/static/images/Magione_logo.png" alt="">
                                    <h4>Step 3:</h4>
                                    <p>Start racing!</p><a href="#" class="btn">Race</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="span4">
                    <ul class="nav nav-list">
                        <li class="nav-header">Built info</li>
                        <li class="active"><a href="http://www.python.org/" target="_blank">Python 3.3</a></li>
                        <li><a href="https://pypi.python.org/pypi/pip" target="_blank">pip 1.4.1</a></li>
                        <li><a href="http://docs.python-guide.org/en/latest/dev/virtualenvs/" target="_blank">Virtual env 1.10.1</a></li>
                        <li><a href="https://www.djangoproject.com/" target="_blank">Django 1.5</a></li>
                        <li><a href="http://getbootstrap.com/" target="_blank">Bootstrap 2.3.2</a></li>
                        <li><a href="http://aozora.github.io/bootplus/" target="_blank">Bootplus 1.0.3</a></li>
                        <li class="divider"></li>
                </div>
                <div class="span4">
                    <div class="card">
                        <div class="card-heading image">
                            <img src="/static/images/driver.png" alt=""/>
                            <div class="card-heading-header">
                                <h3>Latest News</h3>
                                <span>Published today - 08.34 AM</span>
                            </div>
                        </div>
                        <div class="card-body">
                            <p><strong>New version of Rank1</strong></p>
                            <p>Changelog: </br></p>
                            <small>-added table with theoritical best times</small>
                        </div>
                        <div class="card-media">
                            <img src="/static/images/btn_AC_logo.png" alt="media"/>
                        </div>
                        <div class="card-actions">
                            <button class="btn">+1</button>
                            <button class="btn">Share</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>



                    
    



<div class="navbar navbar-fixed-bottom">
    <div class="navbar-inner">
        <div class="container footer-margin-top">
            <p class="muted credit pull-left">copyright &copy; 2013</p>
            <p class="muted credit pull-right">Created by Vaggelis Theodoridis</p>
        </div>
    </div>
</div>


</body>
    {% endblock %}   
</html>