{% extends "index.html" %}

{% block content %}
<div class="alert alert-error" align="center">
	<strong>Your login details are invalid!</strong>
	<p>Click <a href={% url 'login' %}>here</a> to login again.</p>
</div>
{% endblock %}