{% extends "index.html" %}

{% block content %}

	{% if form.errors %}
		<p class="error">Sorry, that's not a valid username or password</p>
	{% endif %}

	<form align="center" action="/auth/" method="post" >{% csrf_token %}
		<fieldset>
			<legend>Driver Login</legend>
				<div class="control-group">
					<label class="control-label" for="username">Username:</label>
					<div class="controls">
						<input type="text" name="username" value="" id="username">
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for ="password">Password:</label>
					<div class="controls">
						<input type="password" name="password" value="" id="password">
					</div>
				</div>
				<div class="control-group">
					<div class="controls">
						<input type="submit" value="Login" class="btn"/>
					</div>
				</div>
		</fieldset>
	</form>

{% endblock %}
