{% extends "index.html" %}

{% block content %}

<div class="alert" align="center">
  <h4>Logged out!</h4></br> Redirecting home...
</div>


  <script>							<!-- Scriptaki gia na kanei redirect meta to logout-->
    function redirect(){
       window.location.href = "/";
    }

    setTimeout(redirect, 3000); //2000 is equivalent to 2 seconds
</script>



{% endblock %}