{% extends "index.html" %}
{% load int_to_time %}
{%  load static %}
{% block content %}


<script type="text/javascript">
    $(function() {
        $(".tip").tooltip();
    });
</script>



<div class="container-fluid">
    <div class="row-fluid">
        <div class="span1"></div>
            <div class="span2">
                <table class="table table-striped table-bordered table-hover " >
                    <tr><td >Theoritical Best Time</td></tr>
                    <tr><td>{{ dict2.theoritical.0|convert_int_to_time }}</td></tr>
                    <tr><td>Sector 1</td></tr>
                    <tr><td>{{ dict2.theoritical.1|convert_int_to_time }}</td></tr>
                    <tr><td>Sector 2</td></tr>
                    <tr><td>{{ dict2.theoritical.2|convert_int_to_time }}</td></tr>    
                </table>
            </div>
                        <div class="span8">
                            <div class="mainContent" >
                                <div class="content">
                                                
                                    <table class="table table-striped"  border="1"> 
                                        <col span="18" />                               
                                        <tr>
                                            <th><a href="?order_by=bestsplit1"><img class="tip" data-toggle="tooltip" data-placement="bottom" title="Sector 1" src="/static/images/time.png"></a></th>
                                            <th><a href="?order_by=bestsplit2"><img class="tip" data-toggle="tooltip" data-placement="bottom" title="Sector 2" src="/static/images/time.png"></a></th>
                                            <th><a href="?order_by=besttime"><img class="tip" data-toggle="tooltip" data-placement="bottom" title="Time" src="/static/images/time.png"></a></th>
                                            <th><a href="?order_by=maxspeed"><img class="tip" data-toggle="tooltip" data-placement="bottom" title="Max Speed" src="/static/images/speed.png"></a></th>
                                            <th><a href="?order_by=datesubmitted"><img class="tip" data-toggle="tooltip" data-placement="bottom" title="Date" src="/static/images/date.png"></a></th>

                                            <th><img class="tip" data-toggle="tooltip" data-placement="bottom" title="Ideal Line" src="/static/images/aids/idealline.png"></th>
                                            <th><img class="tip" data-toggle="tooltip" data-placement="bottom" title="Stability Control" src="/static/images/aids/stability.png"></th>
                                            <th><img class="tip" data-toggle="tooltip" data-placement="bottom" title="Auto Blip" src="/static/images/aids/heeltoe.png"></th>
                                            <th><img class="tip" data-toggle="tooltip" data-placement="bottom" title="Auto Shifter" src="/static/images/aids/gearbox.png"></th>
                                            <th><img class="tip" data-toggle="tooltip" data-placement="bottom" title="Auto Clutch" src="/static/images/aids/gearbox.png"></th>
                                            <th><img class="tip" data-toggle="tooltip" data-placement="bottom" title="Auto Brake" src="/static/images/aids/automaticbraking.png"></th>
                                            <th><img class="tip" data-toggle="tooltip" data-placement="bottom" title="ABS" src="/static/images/aids/abs.png"></th>
                                            <th><img class="tip" data-toggle="tooltip" data-placement="bottom" title="Traction Control" src="/static/images/aids/tc.png"></th>
                                            <th>Placeholder</th>
                                            <th>Placeholder</th>
                                            <th>Placeholder</th>
                                            <th>Placeholder</th>
                                        </tr>                            {% for DriverStatistics in dict1.DriverStatistics %}

                                         <tr>
                                            <td>{{ DriverStatistics.bestsplit1|convert_int_to_time }}</td>
                                            <td>{{ DriverStatistics.bestsplit2|convert_int_to_time }}</td>
                                            <td>{{ DriverStatistics.besttime|convert_int_to_time }}</td>
                                            <td>{{ DriverStatistics.maxspeed }} Km</td>
                                            <td>{{ DriverStatistics.datesubmitted|date:"j-m-Y" }}</td>

                                            <td align="center"  title="Ideal Line">{% if DriverStatistics.idealLine == False %}<img align="center" src="/static/images/off.png" >{% else %}<img align="center" src="/static/images/on.png" >{% endif %}</td>

                                            <td align="center" title="Stability Control">{% if DriverStatistics.stabilityControl == False %}<img align="center" src="/static/images/off.png" >{% else %}<img align="center" src="/static/images/on.png" >{% endif %}</td>

                                            <td align="center" title="Auto Blip">{% if DriverStatistics.autoBlip == False %}<img align="center" src="/static/images/off.png" >{% else %}<img align="center" src="/static/images/on.png" >{% endif %}</td> 

                                            <td align="center"  title="Auto Shifter">{% if DriverStatistics.autoShifter == False %}<img align="center" src="/static/images/off.png" >{% else %}<img align="center" src="/static/images/on.png" >{% endif %}</td>

                                            <td align="center"  title="Auto Clutch">{% if DriverStatistics.autoClutch == False %}<img align="center" src="/static/images/off.png" >{% else %}<img align="center" src="/static/images/on.png" >{% endif %}</td>

                                            <td align="center" title="Auto Brake">{% if DriverStatistics.autoBrake == False %}<img align="center" src="/static/images/off.png" >{% else %}<img align="center" src="/static/images/on.png" >{% endif %}</td>

                                            <td align="center"  title="ABS">{% if DriverStatistics.aBs == False %}<img align="center" src="/static/images/off.png" >{% else %}<img align="center" src="/static/images/on.png" >{% endif %}</td>

                                            <td align="center"  title="Traction Control">{% if DriverStatistics.tractionControl == False %}<img align="center" src="/static/images/off.png" >{% else %}<img align="center" src="/static/images/on.png" >{% endif %}</td>

                                            <td align="center"  title="Visual Damage">{% if DriverStatistics.visualDamage == False %}<img align="center" src="/static/images/off.png" >{% else %}<img align="center" src="/static/images/on.png" >{% endif %}</td>

                                            <td align="center" title="Damage">{% if DriverStatistics.damage == False %}<img align="center" src="/static/images/off.png" >{% else %}<img align="center" src="/static/images/on.png" >{% endif %}</td>

                                            <td align="center"  title="Fuel Rate">{% if DriverStatistics.fuelRate == False %}<img align="center" src="/static/images/off.png" >{% else %}<img align="center" src="/static/images/on.png" >{% endif %}</td>

                                            <td align="center" title="Tyre Wear">{% if DriverStatistics.tyreWear == False %}<img align="center" src="/static/images/off.png" >{% else %}<img align="center" src="/static/images/on.png">{% endif %}</td>
                                        </tr>{% endfor %}
                                    
                                    </table>
                                                
                                </div>          
                            </div>
            </div><div class="span1"></div>
    </div>
</div>    
{% endblock %}