{% extends "index.html" %}

{% block content %}


{% if messages %}
	<div  align="center">
		
			{% for message in messages %} 
				<p{% if message.tags %} class="{{ message.tags }}"{% endif %}>
					{{ message }}</p> 
			{% endfor %}
		
	</div>
{% endif %}


<div class="container-fluid">
	<div class="row-fluid">
		<div class="span2">

			<div class="card people">
			    <div class="card-top green">
			      <a href="#">
			         <img src="/static/images/profileavatar.png" alt="">
			      </a>
			    </div>
			    <div class="card-info">
			    	<a class="title" href="#">{{ user.username }}</a>
			        <div class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
			    </div>
			   	<div class="card-bottom">
			      	<button class="btn btn-block">Follow</button>
			   	</div>
			</div>
		</div>
		<div class="span2">
			<table class="table table-striped table-bordered table-hover">
				<th colspan="2" >Profile Details</th>
				<tr>
					<td>License Key</td>
					<td>{{ dict2.driver.licenseKey }}</td>
				</tr>
				<tr>
					<td>Team</td>
					<td>{{ dict2.driver.team }}</td>
				</tr>
				<tr>
					<td>Country</td>
					<td>{{ dict2.driver.country }}</td>
				</tr>
				<tr>
					<td>Hardware</td>
					<td>{{ dict2.driver.hardware }}</td>
				</tr>
				<tr>
					<td>Born</td>
					<td>{{ dict2.driver.age }}</td>
				</tr>
				<tr>
					<td>Total Laps</td>
					<td>{{ dict2.driver.totallaps }}</td>
				</tr>
				<tr>
					<td>Safe</td>
					<td>{{ dict2.driver.safe }}</td>
				</tr>
				<tr>
					<td>Bio</td>
					<td>{{ dict2.driver.bio }}</td>
				</tr>
				<tr>
					<td>Do You look for a team?</td>
					<td>{{ dict2.driver.lookingForTeam }}</td>
				</tr>
				<tr>
					<td>Website</td>
					<td>{{ dict2.driver.website }}</td>
				</tr>
				<tr>
					<td>Contact Info</td>
					<td>{{ dict2.driver.contactInfo }}</td>
				</tr>

			</table>


			<a href="#myModal" role="button" class="btn" data-toggle="modal">Edit profile</a>
		 </div>

		 
				<!-- Modal -->
					<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					 	<div class="modal-header">
					    	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					    	<h3 id="myModalLabel">Edit your details:</h3>
					  	</div>
					  	<div class="modal-body">
							<form action = "" method = "post"  align="center">{% csrf_token %}
								<fieldset>
									
											{{ dict1.form }}
								</fieldset>	
							
						</div>
						<div class="modal-footer">
								    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
								    <input type="submit" alt="register" class="btn btn-primary" value="Save changes">
						</div></form>
					</div>


			
	</div>
	
</div>


{% endblock %}